{{#modal-dialog close="close" save="save" prefix="prefix"}}
<div class="form-group">
    <label for="entry_title">Title</label>
    <input type="text" name="entry_title" id="entry_title" class="form-control" value="" required="required">
    <br>
    <label for="entry_author">Author</label>
    <input type="text" name="entry_author" id="entry_author" class="form-control" value="" required="required">
    <br>
    <label for="entry_body">Entry Content</label>
    <textarea name="entry_body" id="entry_title" class="form-control" value="" required="required"></textarea>
</div>
{{/modal-dialog}}
